<script>
  export default {
    name: "AddCard",
    data() {
      return {
        deckName: "Vue.js Fundamentals",
        deckDescription: "Core concepts and directives for working with Vue.js",
        options: [],
        leech: 'tag',
        categoryId: ''
      }
    },
    method: {
      submit() {
        alert('submitting the form')
      }
    },
    computed: {
      charsLeft() {
        return 200 - this.deckDescription.length
      }
    }
  }
</script>

<template>
  <div class="add-card">
    <h1>Add Card</h1>
    <form action="" method="POST">
      <div>
        <label for="name">Name: </label>
        <input type="text" v-model.trim="deckName" id="name" name="name"> ({{ deckName.length }} characters)
      </div>
      <div>
        <label for="description">Description: </label>
        <textarea v-model.trim.lazy="deckDescription" id="description" name="description"></textarea> ({{ charsLeft }} chars)
      </div>
      <div class="options">
        <div class="label-input">
          <input v-model="options" true-value="on" false-value="off" type="checkbox" id="reverse" value="reverse">
          <label for="reverse">Include reverse cards</label>
        </div>
        <div class="label-input">
          <input v-model="options" type="checkbox" id="time_limit" value="time_limit">
          <label for="time_limit">Use time limit</label>
        </div>
        <div class="label-input">
          <input v-model="options" type="checkbox" id="reminders" value="reminders">
          <label for="reminders">Enable reminders</label>
        </div>

        <fieldset>
          <legend>Leech action</legend>
          <div class="label-input">
            <input type="radio" v-model="leech" id="tag" name="leech" value="tag">
            <label for="tag">tag</label>
          </div>
          <div class="label-input">
            <input type="radio" v-model="leech" id="suspend" name="leech" value="suspend">
            <label for="suspend">suspend</label>
          </div>
        </fieldset>

        <div class="category">
          <label for="category">Category:</label>
          <select v-model.number="categoryId" name="category" id="category">
            <option value="">Select</option>
            <option value="1">Foreign Language</option>
            <option value="2">History</option>
            <option value="3">Biology</option>
            <option value="4">Geography</option>
            <option value="5">Law</option>
            <option value="6">Programming</option>
          </select>
        </div>
      </div>
      <button @click.prevent="submit" type="submit">Create</button>
    </form>
  </div>
</template>

<style lang="scss">
  .label-input {
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
    }
  }

  form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }

  label {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
  }

  button[type="submit"] {
    width: 150px;
    border-radius: 5px;
    margin-left: 105px;
  }

  input[type="text"] {
    width: 275px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 5px;
  }

  textarea {
    width: 275px;
    height: 150px;
    border-radius: 5px;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 5px;
  }

  form div {
    margin-bottom: 20px;
  }

  .options {
    padding-left: 100px;
  }

  .options label {
    display: block;
    width: auto;
  }

  .leech-action {
    margin-top: 15px;
    width: 50%;
  }

  .leech-action label {
    display: inline;
  }

  .category {
    margin-top: 10px;
  }

  select {
    height: 40px;
    width: 275px;
    font-size: 12px;
  }
</style>
