<script>
  import { mapState } from 'vuex'

  export default {
    name: "CardManager",
    data() {
      return {
        editIndex: -1,
        fontSize: 15,
        textSizeControlStyle: {
          textAlign: 'center',
          cursor: 'pointer',
          marginBottom: '10px'
        }
      }
    },
    method: {
    },
    computed: {
      ...mapState({
        cards: state => state.cards
      }),
    }
  }
</script>

<template>
  <div class="card-manager">
    <h1>Card Manager</h1>

    <div :style="textSizeControlStyle">
      Text size: <span @click="fontSize++">bigger</span> | <span @click="fontSize--">smaller</span>
    </div>

    <div :style="{fontSize: fontSize + 'px'}">
      <div v-for="(card, index) in cards" class="card-pair" :key="index">
        <div v-if="editIndex == index" class="card">
          <textarea @keydown.enter="editIndex = -1" v-model="card.front"></textarea>
        </div>
        <div v-else @click="editIndex = index" class="card" v-html="card.front"></div>
        <div class="card" v-html="card.back"></div>
      </div>
    </div>

  </div>
</template>

<style lang="scss">
  .card-manager {
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    justify-content: center;
  }

  .card-manager .card {
    height: 200px;
  }

  .card-manager .card p {
    font-size: 12px !important;
    margin: 0;
    padding-top: 0;
  }

  textarea {
    width: 300px;
    height: 90px;
  }

  .card-pair {
    display: flex;
    justify-content: center;
  }
</style>
