<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    components: {
    },
    data() {
      return {
        deckName: "Vue.js fundamentals",
        flipped: false,
        index: 0,
        vueUrl: "https://v3.vuejs.org/guide",
      }
    },
    computed: {
      ...mapState({
        cards: state => state.cards,
      }),
      front() {
        return this.cards[this.index].front
      },
      back() {
        return this.cards[this.index].back
      },
      isRepeat() {
        return this.cards[this.index].isRepeat
      }
    },
    methods: {
      move(change) {
        if (this.cards[this.index + change]) {
          this.index += change
        } else {
          this.index = change == 1 ? 0 : this.cards.length - 1
        }
        this.flipped = false
      },
      gotIt() {
        if (this.cards.length === 1) {
          return alert('Well done!')
        }

        this.cards.splice(this.index, 1);

        if (!this.cards[this.index]) {
          this.index = 0
        }

        this.flipped = false;
      },
      again() {
        this.cards[this.index].isRepeat = true;
        this.move(1)
      }
    }
  }
</script>

<template>
  <h1>{{ deckName }}</h1>
  <div class="card" :class="{ again: isRepeat }" @click="flipped = !flipped">
    <h2 v-show="!flipped" v-html="front"></h2>
    <div v-show="flipped" v-html="back"></div>
    <div v-show="flipped" class="score" style="margin: 20px">
      <button @click.stop="gotIt">GOT IT</button>
      <button @click.stop="again">AGAIN</button>
    </div>
  </div>

  <div class="navigation">
    <button type="button" @click="move(-1)">&#8592;</button>
    <button type="button" @click="move(1)">&#8594;</button>
  </div>

  <a :href="vueUrl">read more</a>
</template>

<style scoped>
  h1 {
    margin: 20px auto
  }

  .card {
    flex-direction: column;
  }
</style>
