<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/add-card">Add Card</router-link> |
    <router-link to="/card-manager">Card Manager</router-link>
  </div>
  <router-view />
</template>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }
</style>

<style>
  body {
    background-color: #0077b5;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    margin: 80px auto;
    font-size: 42px;
    text-align: center;
    min-height: 49px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #495057;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.8), 0 4px 4px 0 rgba(0, 0, 0, 0.64), 0 4px 12px 0 rgba(0, 0, 0, 0.48);
    border-radius: 3px;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
  }

  .card h2 {
    font-size: 38px;
    text-align: center;
  }

  .card>div {
    font-size: 24px;
    text-align: center;
    margin: 0 40px;
  }

  #app>a {
    display: block;
    text-align: center;
    margin: 20px auto;
    color: #ffffff;
  }

  .navigation {
    text-align: center;
    margin: 20px auto;
  }

  .user-input {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  input {
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
  }

  button {
    margin: 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  [v-cloak] {
    display: none
  }

  .score {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  .score button {
    width: 200px;
    cursor: pointer;
  }

  .again {
    background-color: #F6D55C;
  }

  .done {
    text-align: center;
  }
</style>
